* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
  }
  
  main {
    padding: 80px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .sebha {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
  }
  
  .sebha h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .sebha p {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }